html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

a,
li{
    text-decoration: none;
    color: black;
    list-style: none;
}

h2{
    padding-top: 20px;
}

p{
    padding: 5px;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
}

section{
    margin-bottom: 20px;
}

.container {
    max-width: 1250px;
    height: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    background-color: rgb(189, 230, 253);
}

.header{
    max-width: 1250px;
    margin: 0 auto;
}

.header__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.education__items,
.skills__items{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.skills__list,
.contact__list{
    margin: 0;
    padding: 0;
}

.skills__item img{
    padding-top: 5px;
}

.contact__list{
    padding-bottom: 15px;
}

.footer__wrapper{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-around;
}

.footer img{
    height: 80px;
}

.footer__date-mini{
    display: none;
}


@media (max-width: 1100px) {
    .education__item,
    .skills__item{
        margin-right: 15px;
        text-align: center;
    }
}

@media (max-width: 840px) {
    .education__items,
    .skills__items{
        flex-wrap: wrap;
    }

    .education__item,
    .skills__item{
        width: 350px;
    }

    .footer img{
        max-height: 40px;
    }
}

@media (max-width: 800px){
    .header__wrapper{
     flex-wrap: wrap;
    }

    h1{
        font-size: 28px;
    }

    .title__occupation{
        padding-top: 0;
    }

    .header__image{
        max-height: 250px;
    }
}


@media (max-width: 650px) {
    .footer__date{
        display: none;

    }

    .footer__date-mini{
        display: block;
    }

    .footer__wrapper{
        max-height: 50px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 450px){
    body{
        font-size: 17px;
    }

    .title__occupation{
       font-size: 20px;
    }

    .header__image{
        max-height: 200px;
    }

    .skills__image{
        max-height: 250px;
    }
}

